@model InfinityCodeTest.Domain.Entities.Vehicle
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.ID)</label>

    <div class="col-sm-10">
        @Model.ID
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.VehicleType)</label>

    <div class="col-sm-10">
        @Model.VehicleType
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.AverageMilesPerHour)</label>

    <div class="col-sm-10">
        @Model.AverageMilesPerHour
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.MilesPerGallon)</label>

    <div class="col-sm-10">
        @Model.MilesPerGallon
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.FuelGallonStorage)</label>

    <div class="col-sm-10">
        @Model.FuelGallonStorage
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.LicensePlateNumber)</label>

    <div class="col-sm-10">
        @Model.LicensePlateNumber
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.NumberOfAxels)</label>

    <div class="col-sm-10">
        @Model.NumberOfAxels
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">@Html.DisplayNameFor(Model => Model.StorageCapacity)</label>

    <div class="col-sm-10">
        @Model.StorageCapacity
    </div>
</div>
<div class="row">
    <hr />
</div>